# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Julia
- Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL


1. Scientific Computing Libraries in Python
2. visualization Libraries in Python
3. High-Level- Machine Learning and Deep Learning Libraries

| Data Science Tools|
| ------------------|
| Jupitor           |
| R Studio          |
| Appache Zeppline  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
   Tauqeer